@font-face {
  font-family: 'roboto_Thin';
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: url("../fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/Roboto-Thin-webfont.svg#roboto_Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_regular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-REgular-webfont.svg#roboto_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #ffffff;
  color: #444;
  font-family: "roboto_regular"; }

::selection {
  background: #F44336;
  color: #fff; }

::-moz-selection {
  background: #F44336;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto_Thin", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Times New Roman", sans-serif;
  color: #222; }

a {
  color: #000;
  border-bottom: 1px dotted #000;
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease; }
  a:hover, a:focus {
    color: #F44336;
    border-bottom: transparent; }

.menu > li > a {
  color: #777;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  border-bottom: none; }
  .menu > li > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #F44336;
    height: 1px;
    -webkit-transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out; }
  .menu > li > a:hover:before, .menu > li > a:focus:before, .menu > li > a:active:before,
  .menu > li > a .active:before {
    left: 0;
    right: 0; }

.button.primary.hollow {
  border: 1px solid #F44336;
  color: #F44336; }
.button.primary, .button.secondary {
  padding: 1rem 2.2rem; }
  .button.primary:hover, .button.primary:focus, .button.secondary:hover, .button.secondary:focus {
    background: #F44336;
    color: #fff !important;
    border-color: #F44336 !important; }
.button.round {
  border-radius: 50px; }

@media screen and (max-width: 639px) {
  .top-bar-left {
    display: none; } }
.title-bar {
  background: none;
  color: #444; }
  .title-bar .menu-icon::after {
    background: #444;
    box-shadow: 0 7px 0 #444,0 14px 0 #444; }

.top-bar, .top-bar ul {
  background: none; }

header {
  text-align: center;
  padding: 50px 30px; }
  header hr {
    max-width: 50px; }
  header #banner p {
    margin: 48px 0; }

@media screen and (min-width: 639px) {
  header {
    padding: 100px 0; }
    header #banner {
      max-width: 960px;
      margin: 0 auto; }
      header #banner p {
        padding: 0px 150px 0;
        margin: 48px 0; } }
#services {
  padding: 150px 0; }

/*# sourceMappingURL=huia.css.map */
