$primary-clr: #F44336;

@font-face {
    font-family: 'roboto_Thin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Thin-webfont.svg#roboto_Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-REgular-webfont.svg#roboto_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #ffffff;
  color: #777;
  font-family: "roboto_regular";
}

::selection {
  background: $primary-clr;
  color: #fff;
}
::-moz-selection {
  background: $primary-clr;
  color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "roboto_Thin", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Times New Roman", sans-serif;
  color: #000;
  // font-weight: 100;
}

a {
  color: #000;
  border-bottom: 1px dotted #000;
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;

  // font-size: 106%;
  &:hover, &:focus {
    color: $primary-clr;
    border-bottom: transparent;
}
}

// .menu > li >a {
//   text-transform: uppercase;
//   font-size: 0.875rem;
//   font-family: "roboto_Thin";
//   font-weight: bold;
// }

.menu > li > a {
  color: #777;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  border-bottom: none;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $primary-clr;
    height: 1px;
    -webkit-transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
}

&:hover,
&:focus,
&:active,
.active {

    &:before {
      left: 0;
      right: 0;
  }
}
}

.button {
  &.primary.hollow {
    border:1px solid $primary-clr;
    color: $primary-clr;
}
&.primary,&.secondary {
    padding: 1rem 2.2rem;

    &:hover, &:focus {
      background: $primary-clr;
      color: #fff !important;
      border-color: $primary-clr !important;
  }
}
&.round {
    border-radius: 50px;
}
}

@media screen and (max-width: 639px) {
  .top-bar-left {
    display: none;
}
}

.title-bar {
  background: none;
  color: #444;

  .menu-icon::after {
    // color: #444;
    background: #444;
    box-shadow: 0 7px 0 #444,0 14px 0 #444;
}
}

.top-bar, .top-bar ul {
  background: none;
}

header {
  text-align: center;
  padding: 50px 30px;

  hr {
    max-width: 50px;
}

#banner {
    p {
      // padding: 0px 150px 0;
      margin: 48px 0;
  }
}
}

@media screen and (min-width: 639px) {
  header {
    padding: 100px 0;

    #banner {
      max-width: 960px;
      margin: 0 auto;
      p {
        padding: 0px 150px 0;
        margin: 48px 0;
    }
}
}
}

#services {
  padding: 150px 0;
}

.fa {
    color: $primary_clr;
}

.service {
    margin: 100px 0;
    text-align: center;

    p {
        max-width: 18rem;
        margin: 0 auto;
    }
}

.service-title {
    margin: 20px 0;
}

.portfolio {
    h2 {
        margin-bottom: 100px;
    }

    margin-bottom: 100px;
}

.folio-item {
    margin-top: 20px;
    a {
        display: inline-block;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.folio-item-container {
    display: block;
    position: relative;

    .folio-caption {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom:0;
        background: rgba($primary-clr, 0.8);
        color: #fff;
        opacity: 0;
        transition: all 0.5s;
        text-align: center;
    }

    i {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translateY(-50%);
        // transform: translateX(-50%);
        font-size: 2rem;
    }

    &:hover, &:focus, &:active {
        .folio-caption {
            opacity: 1;
        }
    }
}

.contact {
    background: #222;
    color: #fff;
    padding-bottom: 100px;

    h2 {
        margin: 100px 0 50px 0;
        color: #fff;
    }

    .fa {
        color: #fff;
        margin-right: 10px;
    }

    hr {
        max-width: 2rem;
    }
}

.contact-social {
    a {
        border-bottom: none;
        font-size: 1.5rem;
        transition: all 0.4s;
        display: inline-block;
        padding: 5px 5px;

        &:hover, &:focus, &:active {
            .fa {
                color: $primary-clr;
                transition: all 0.4s;
            }

        }
    }

    .fa {
        transition: all 0.4s;
    }
}

.footer {
    background: #111;
    border-top: 1px solid #2c2c2c;
    padding: 15px 0;
    color: #fff;
}